<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Cooks Nook</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Open+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1>Cook's Nook</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'meat' %}">Meat</a></li>
                <li><a href="{% url 'seafood' %}">Seafood</a></li>
                <li><a href="{% url 'veggie' %}">Veggie</a></li>
                <li><a href="{% url 'new_recipe' %}">Add recipe</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>