{% extends 'base.html' %}
{% block content %}
<h1>{{ recipe.name }}</h1>
<h2>Ingredients</h2>
<ul>
    {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
</ul>
<p>{{ recipe.prep }}</p>
<p>Servings: {{ recipe.servings }}</p>
<p>Total Time(in minutes): {{ recipe.totalTime }}</p>
<p>Created by: {{ recipe.user }}</p>
<h1>Reviews</h1>
<li><a class="add_review" href="{% url 'new_review' %}">Add review</a></li>
{% for review in reviews %}
<h2>{{ review.title }}</h2>
<p>Rating: {{ review.rating }}</p>
<p>{{ review.comments }}</p>
<p>{{ review.user }}</p>
{% endfor %}
{% endblock %}