body {
    background-color:#f7fff7;
}

h1, h2, .new_form th{
    color:#003DE6; 
    font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
    font-size: 2.25em; /* 36px */
}

h2, table, .submit{
    font-size: 1.625em; /* 26px */
}

th{
    border: 0.125em dotted #030707; /* 2px */
}

td{
    text-align: center;
}

ul, p, aside, footer, td {
    color:#030707;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; /* 16px */
}

ul, p, footer, td {
    margin-top: 1em; /* 12px */
}

aside{
    margin: 2em 0em; /* 14px */
}

nav ul{
    list-style-type: none;
    padding: 0;
}


nav li{
    display: inline;
    font-family: 'Love Ya Like A Sister', cursive;
}

nav li a, aside a, .submit, .add_review{
    color:#030707;
    background-color: #ffe66d;
    border: 0.125em dotted #030707; /* 2px */
    text-decoration: none;
    padding: 0.75em; /* 12px */
    border-radius: 0.3125em; /* 5px */
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 1em 0em;
}

nav li a:hover, aside a:hover, .submit:hover, .add_review:hover{
    background-color:#759AFF;
}

.new_form table, td, p{
    width: 60%;
}

.new_form table th, .new_form table td{
    border: none;
    text-align: left;
}
