body {
    background-color:#f7fff7;
}

h1, h2, tr {
    color:#003DE6;
    font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
    font-size: 2.25em;
}

h2, table {
    font-size: 1.625em;
}

th{
    padding: 0.938em;
    border: 0.125em dotted #030707;
}

ul, p, aside, footer, td {
    color:#030707;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.7500em;
    font-size: 1.000em;
}

ul, p, aside, footer, nav li{
    padding: 0.3125em;
}

nav ul{
    list-style-type: none;
    position: sticky;
}

nav li{
    display: inline;
    font-family: 'Love Ya Like A Sister', cursive;
}

nav li a, aside a{
    color:#030707;
    background-color: #ffe66d;
    border: 0.125em dotted #030707;
    text-decoration: none;
    padding: 0.7500em;
    border-radius: 0.3125em;
    font-family: 'Love Ya Like A Sister', cursive;
}

nav li a:hover, aside a:hover{
    background-color:#759AFF;
}